/* Gallery styles */
.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0.8rem;
}

.gallery2 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0.8rem;
    margin: 0 auto;
}

/* Multi-video container */
.multi-video-container {
    display: flex;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    display: flex;
}

/* Responsive adjustments */



@media (max-width: 431px) {
    .gallery, .gallery2 {
        column-count: 1;
        column-width: 100%;
        padding: 0.8rem;
        max-width: 400px;
        margin: 0 auto;
    }

    .timeline-buttons-arrows {
        max-width: 355px;
    }
    .timeline-buttons-arrows::-webkit-scrollbar {
        display: none; /* Hide the scrollbar on mobile */
    }

    
}

@media (min-width: 429px) {
    .gallery, .gallery2 {
        column-count: 1;
        column-width: 100%;
        padding: 0.8rem;
        max-width: 400px;
        margin: 0 auto;
    }

    .timeline-buttons-arrows {
        max-width: 390px;
        overflow-x:hidden;
    }
    .timeline-buttons-arrows::-webkit-scrollbar {
        display: none; /* Hide the scrollbar on mobile */
    }
    

    
}


@media (min-width: 767px) {
    .timeline-buttons-arrows {
        overflow-x: hidden; /* Disable horizontal scrolling on mobile */
        justify-content: flex-start; /* Align buttons to the left */
        padding-left: 5px; /* Add left padding to the container */
        padding-right: 5px; /* Add right padding to the container */
        max-width: 480px;
        overflow-x:hidden;
    }

    .timeline-buttons-arrows::-webkit-scrollbar {
        display: none; /* Hide the scrollbar on mobile */
    }

    .gallery {
        column-count: 2;
        column-width: 100%;
        padding: 0.8rem;
        max-width:1000px;
        margin: 0 auto;
    }

    .gallery2 {
        column-count: 1;
        column-width: 100%;
        padding: 0.8rem;
        max-width: 1000px;
        margin: 0 auto;
    }
}




/* Content card styles */
.content-card {
    display: flex;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

/* Video container styles */
.video-container {
    display: flex;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.video-container:hover {
    transform: scale(0.99);
}

.videoflex {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}

/* Description styles */
.description {
    display: flex;
    flex: 1;
    text-align: center;
    text-wrap: wrap;
    background: linear-gradient(156deg, rgba(92, 99, 167, 1) 0%, rgba(0, 31, 255, 1) 100%);
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 6px;
}

/* Header styles */
.header {
    display: flex;
    flex: 1;
    text-align: center;
    text-wrap: wrap;
    align-items: center;
    width: 30%;
    min-height: 20px;
    justify-content: center;
    border-radius: 6px;
    color: black;
    font-weight: 699;
}

.app-background-style {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.description2 {
    text-align: center;
    text-wrap: wrap;
    background: rgb(0, 0, 0);
    color: white;
    width: 90%;
    padding: 4%;
    border-radius: 6px;
    margin-top: 5px;
    max-height: 400px;
}

.line-items {
    margin-top: 10px;
    color: aquamarine;
    font-style: italic;
}

.line-items-header {
    margin-top: 10px;
    color: white;
    font-weight: 800;
}

p {
    word-break: break-all;
    white-space: normal;
}

.date-style {
    font-size: 15px;
}

.type-style {
    font-size: 10px;
}

.timeline-button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    border-radius: 50%;
    height: 12px;
    width: 10px;
    border: 0;
    cursor: pointer;
    transition: 0.7s;
}

.timeline-buttons {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 3%;
    z-index: 999;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none; /* hide scrollbar for Firefox */
    -ms-overflow-style: none; /* hide scrollbar for IE/Edge */
}

.button-class:hover {
    color: grey;
    cursor: pointer;
}

/* Timeline container styles */


.timeline-button {
    margin: 0 10px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.timeline-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Change the background color on hover */
}

.timeline-buttons-arrows {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    border-radius: 5px;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background-color: black;
    margin: 0 auto;
    overflow-x: auto; /* Add horizontal scrolling */
    overflow-y: hidden; /* Hide vertical overflow */
    
}
.timeline-buttons-arrows::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}


.button-class {
    flex: 0 0 auto;
    width: calc(100% / 3);
    max-width: 100px;
    padding: 0;
    color: white;
    margin: 0 5px;
    scroll-snap-align: start;
    text-align: center; /* Center the content */
}

.scroll-arrow {
    width: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.scroll-arrow.left {
    left: 0; /* Position arrow to the left */
}

.scroll-arrow.right {
    right: 0; /* Position arrow to the right */
}
.gallery2 {
    padding-top: 50px; /* Adjust padding-top to account for the height of the sticky container */
}

.slider-class{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: column;
}
.bold-text {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 13px;
}
.gallery-class {
    display: flex;
    flex-direction: column; /* Make it a column layout */
    align-items: center; /* Center items horizontally */
    justify-content: center;
    text-align: center;
}

.header2 {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 5px;
}

/* Scroll to top styles */
.scroll-to-top {
    bottom: 10px;
    right: 10px;
    flex-direction: column;
    color: grey;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.scroll-to-top:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    transition: 0.7s;
}

/* Review-specific styles */
.review-button, .review-icon, .review-date, .review-type {
    color: red;
}
